@charset "utf-8";
/* ============================================================
 * LHUI - size 全局常用尺寸
 * 可在需要的scss中引入，不会产生多余代码
============================================================ */
$htmlFontSize: 75px!default;
$mainPageWidth:10rem!default;
$baseFontSize:14px!default;